<%- include('partials/header'); -%>

    <h1>Home</h1>

    <p1>
        <%= thisIsFromApp %>
    </p1>


    <% posts.forEach( (element) => { %>
        <h1> <%= element.title %> </h1>
        <p1>
            <%= element.body.substring(0,100) + " ..." %>
            <a href="/about">Read More</a>
        </p1>
        <% }) %>

<%- include('partials/footer'); -%>